/* --- Header --- */
#header {
    box-shadow: 0 1px 10px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
}

.header-contain {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo a {
    text-decoration: none;
}

.logo-img {
    height: 72px;
}

.list-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.item a {
    text-decoration: none;
    color: var(----black-color);
    padding: 10px;
    transition: 0.3s;
}

.item a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* --- Banner --- */
#banner {
    margin-top: 70px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-contain {
    position: relative;
    height: 700px;
}

.banner-contain::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    color: var(--white-color);
    z-index: 10;
}

.banner-text h1 {
    font-size: 50px;
    text-transform: uppercase;
    width: 850px;
    text-shadow: 0 1px 2px #fff;
}

.banner-text p {
    font-size: 20px;
    text-shadow: 0 1px 2px #fff;
}

/* --- general --- */
#general {
    margin: 100px auto;
    width: 90%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Tạo chiều sâu 3D cho cả slide */

    perspective: 1000px;
    overflow: hidden;
}

.general-content h2 {
    font-size: 30px;
}

.general-content p {
    text-align: justify;
    margin-top: 10px;
}

.general-view img {
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.list-title,
.list {
    font-weight: 600;
}

.list {
    margin-left: 20px;
}

.list li {
    margin-top: 5px;
}

/* --- product --- */
#product {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    background: var(--gradient-night);
}

.product-title {
    color: var(--white-color);
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.carousel-container {
    width: 90%;
    /* max-width: 800px; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 30px var(--primary-light);
}

.carousel-list {
    display: flex;
    width: 100%;
    /* Chiều rộng linh hoạt */
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-slide {
    /* Mỗi slide chiếm trọn chiều rộng khung chứa */
    min-width: 100%;
    height: 300px;
    background: var(--gradient-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* font-size: 2rem; */
}

.item-slide:nth-child(even) {
    background-color: cyan;
}

/* Nút bấm */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.item-pd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 25%;
}

.view-pd img {
    height: 200px;
    border-radius: 10px;
}

.text-pd {
    margin-top: 10px;
    height: 40px;
}

.text-pd p {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    /* color: var(--white-color); */
}


/* --- Footer --- */
#footer {
    height: 50vh;
    background-color: #000;
    margin-top: 100px;
}