/* --- Banner --- */
#banner {
  margin-top: 70px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-contain {
  position: relative;
  height: 700px;
}

.banner-contain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  color: var(--white-color);
  z-index: 10;
}

.banner-text h1 {
  font-size: 50px;
  text-transform: uppercase;
  width: 850px;
  text-shadow: 0 1px 2px #fff;
}

.banner-text p {
  font-size: 20px;
  text-shadow: 0 1px 2px #fff;
}

/* --- general --- */
#general {
  background-color: #eee;
  perspective: 1000px;
  overflow: hidden;
}

.general-contain {
  margin: 100px auto;
  width: 90%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.general-content h2 {
  font-size: 30px;
}

.general-content p {
  text-align: justify;
  margin-top: 10px;
  line-height: 1.6;
}

.general-view img {
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.list-title,
.list {
  font-weight: 600;
}

.list {
  margin-left: 20px;
}

.list li {
  margin-top: 5px;
}

/* --- product --- */
#product {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
  background: var(--gradient-night);
}

.product-title {
  color: var(--white-color);
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.carousel-container {
  width: 90%;
  /* max-width: 800px; */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 30px var(--primary-light);
  /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); */
}

.carousel-list {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-slide {
  /* Mỗi slide chiếm trọn chiều rộng khung chứa */
  min-width: 100%;
  height: 300px;
  background: var(--gradient-soft);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* font-size: 2rem; */
}

.item-slide:nth-child(even) {
  background-color: cyan;
}

/* Nút bấm */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.item-pd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 25%;
  text-decoration: none;
  color: var(--black-color);
}

.view-pd img {
  height: 200px;
  border-radius: 10px;
  width: 100%;
}

.view-pd img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.text-pd {
  margin-top: 10px;
  height: 40px;
}

.text-pd p {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  /* color: var(--white-color); */
}

@media (max-width: 768px) {

  /* -- Banner -- */
  .banner-text {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .banner-text h1 {
    font-size: 24px;
    width: 250px;
    line-height: 1.6;
  }

  .banner-text p {
    font-size: 14px;
    line-height: 1.6;
  }

  /* -- General -- */
  #general {
    flex-direction: column;
  }

  /* -- Carousel Product -- */
  #product {
    height: 50vh;
    min-height: 350px;
    padding: 0;
  }

  .product-title {
    font-size: 26px;
    margin-bottom: 0;
  }

  .item-slide {
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 20px;
    height: 100%;
  }

  .item-pd {
    width: 32%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: none;
  }

  .text-pd {
    margin-top: 5px;
    height: auto;
  }

  .text-pd p {
    font-size: 10px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .view-pd img {
    height: 80px;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
  }

  .nav-btn {
    font-size: 12px;
    display: none;
  }

  .next-btn {
    right: 0;
  }

  .prev-btn {
    left: 0;
  }
}