@media (max-width: 740px) {

    /* -- Header --*/
    .menu {
        display: none;
    }

    .menu-bar {
        display: block;
        cursor: pointer;
    }

    /* -- Banner -- */
    .banner-text {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .banner-text h1 {
        font-size: 24px;
        width: 250px;
        line-height: 1.6;
    }

    .banner-text p {
        font-size: 14px;
        line-height: 1.6;
    }

    /* -- General -- */
    #general {
        flex-direction: column;
    }

    /* -- Carousel Product -- */
    #product {
        height: 50vh;
        /* Chiếm 50% chiều cao màn hình (khoảng 300-400px) */
        min-height: 350px;
        /* Đảm bảo không quá bé */
        padding: 0;
        /* Bỏ padding thừa */
    }

    .product-title {
        font-size: 26px;
        margin-bottom: 0;
    }

    .item-slide {
        flex-direction: row;
        /* Quan trọng: Xếp ngang */
        align-items: center;
        /* Căn giữa theo chiều dọc */
        gap: 5px;
        /* Khoảng cách giữa các sản phẩm rất nhỏ */
        padding: 20px;
        /* Cách lề 2 bên một chút */
        height: 100%;
        /* Chiếm full chiều cao cha */
    }

    .item-pd {
        width: 32%;
        /* Chia 3 cột: 32% x 3 ~ 96% màn hình */
        padding: 5px;
        /* Padding nhỏ */
        background: rgba(255, 255, 255, 0.8);
        /* Thêm nền trắng mờ để chữ dễ đọc trên nền tối */
        border-radius: 5px;
        box-shadow: none;
        /* Bỏ bóng đổ rườm rà */
    }

    .text-pd {
        margin-top: 5px;
        height: auto;
        /* Chiều cao tự do */

    }

    .text-pd p {
        font-size: 10px;
        /* Cỡ chữ rất nhỏ (caption) */
        line-height: 1.2;
        /* Dòng sát nhau */

        /* Cắt bớt chữ nếu quá dài (giữ lại 3 dòng) */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .view-pd img {
        height: 80px;
        /* Giảm chiều cao ảnh xuống còn 80px */
        width: 100%;
        /* Full chiều rộng ô chứa */
        object-fit: contain;
        /* Đảm bảo ảnh không bị cắt mất chi tiết */
        border-radius: 4px;
    }

    .nav-btn {
        font-size: 12px;
    }

    .next-btn {
        right: 0;
    }

    .prev-btn {
        left: 0;
    }

    /* -- Footer -- */
    #footer {
        display: none;
    }


}