@media (max-width: 740px) {

    /* -- Header --*/
    .menu {
        display: none;
    }

    .menu-bar {
        display: block;
        cursor: pointer;
    }


    /* -- Footer -- */
    #footer {
        /* display: none; */
        height: auto;
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        margin-top: 10px;
        gap: 20px;
        ;
    }

    #map {
        width: 100%;
        height: 120px;
    }

}